* {
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgb(136, 0, 0);
}

li {
float: left;
margin-right: 50px;
margin-top: 8px;
}

li a{
   display: block; 
   color: aliceblue;
   text-align: center;
   padding:16px 16px;
   text-decoration: none;
}

li a:hover {
background: rgb(255, 255, 255);
color:black;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    text-align: center;
    font-size: 30px;
}

footer {
    font-size: 20px;
    color: white;
    background: rgb(119, 196, 3);
    width: 100%;
    padding: 10px;
    bottom: 0;
    text-align: center;
}

img {
    width: 65px; 
    height: 65px;
    float: left;
    margin-left: 50px;
}